root = true

[*.cs]
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA2014.severity = none
dotnet_diagnostic.CA2213.severity = none
